@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #080915;
  color: white;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

section {
  padding: 50px 90px;
}

section.footer__section {
  padding-bottom: 0;
  border-top: 1px solid white;
}

h1.special,
h2.special,
h3.special,
h4.special,
h5 {
  font-family: 'Mochiy Pop One', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 43px;
  background: linear-gradient(315deg, #ee00f3 0%, #a100ff 74%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  margin: 0 15px;
  cursor: pointer;
}

header {
  font-size: large;
  font-weight: bolder;
}

.fifty {
  width: 50px;
}

.hundred {
  width: 100px;
}

button {
  border-radius: 30px;
  padding: 0 20px;
  height: 35px;
  font-weight: normal;
  font-size: large;
  cursor: pointer;
}

button.outlined {
  border: 3px solid #ee00f3;
}

button.full {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    right top,
    color-stop(0.33, #ee00f3),
    color-stop(0.67, #a100ff)
  );
}

p.one {
  font-size: 26px;
  line-height: 25px;
}

p.two {
  font-size: 20px;
  line-height: 20px;
}

p.special {
  font-size: 16px !important;
  font-family: 'Irish Grover', system-ui;
  font-weight: 400;
  font-style: normal;
}

.specialp > p.two {
  line-height: 40px;
}

.bordered p.two {
  border: 2px dashed yellow;
}

p.three {
  font-size: 9px;
  line-height: 13px;
}

.hero {
  background: url('./assets/images/herobg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.square {
  height: 450px;
  width: 450px;
}

.rectangle {
  width: 600px;
  height: 450px;
}

.airdrop {
  background: url('./assets/images/airdrop.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fill-window {
  position: absolute;
  left: 0;
  width: 100%;
}

/* Styles for screens with a width greater than 1024px */
@media screen and (min-width: 1400px) {
  body {
    max-width: 1400px;
    margin: 0 auto;
  }
}
